doctype
html(ng-app="app")
	head
		meta(charset="utf8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		// build:styles
		// endbuild
	body
		div(ng-controller="GraphCtrl")
			line-score-graph(width=1024, height=600, duration=1500, scores="scores")
			.debug-buttons
				button(ng-click="load0()") Unload all data
				button(ng-click="load1()") Load data
				button(ng-click="load2()") Load more data
				button(ng-click="load3()") Load way more data
		// build:scripts
		// endbuild