body {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis .tick { display: none; }

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.line.hover { stroke-width: 5px; }

.line + .caption {
	display: none;
	font-size: 14px;
}
.line.hover + .caption { display: block; }