body {
	font: 10px sans-serif
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.x.axis .tick {
	display: none;
}

.player .cumulative-score {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
	opacity: 0.6;
}

.player .individual-score {
	display: none;
}

.player .caption {
	display: none;
	font-size: 14px;
	font-weight: bold;
}

.hover-target {
	fill: none;
	stroke: black;
	stroke-width: 15px;
	opacity: 0;
}

.hover .player .cumulative-score {
	opacity: 0.4;
}

.hover .player.hover .individual-score {
	display: block;
}

.hover .player.hover .cumulative-score {
	stroke-width: 5px;
	opacity: 1;
}

.hover .player.hover .caption {
	display: block;
}
