body {
	font: 10px sans-serif;
	background-color: #f5f5f5;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.x.axis .tick {
	display: none;
}

.y.axis text {
	text-anchor: end;
}

.cumulative-score {
	opacity: 0.6;
	path {
		fill: none;
		stroke-width: 1.5px;
	}
}


.individual-score {
	display: none;
}

.caption {
	display: none;
	font-size: 14px;
	font-weight: bold;
}

.hover-target {
	fill: none;
	stroke: black;
	stroke-width: 25px;
	opacity: 0;
}

.no-hover .cumulative-score {
	opacity: 0.2;
}

.hover .cumulative-point {
	opacity: 1.0;
}

.hover .individual-score {
	display: block;
}

.hover .cumulative-score {
	opacity: 1;
	path { stroke-width: 5px; }
}

.hover .caption {
	display: block;
}

.voronoi path {
	fill: none;
	stroke: black;
	stroke-opacity: 0;
	pointer-events: all;
}