body {
	font: 10px sans-serif
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.x.axis .tick {
	display: none;
}

.player .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.player.hover .line {
	stroke-width: 5px;
}

.player .line-target {
	fill: none;
	stroke: black;
	stroke-width: 15px;
	opacity: 0;
}

.player .caption {
	display: none;
	font-size: 14px;
}

.player.hover .caption {
	display: block;
}
